@{Layout = null;}
@model InclusionVirtual.Models.Class.RecoverP
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InclusionVirtual</title>
    <link rel="shortcut icon" href="/proyecto/I.png">

    <!--JQUERY-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/Login.css">
</head>

<body id="Correcto">
    <header class="site-header">
        <div class="fondo">
            <div class="contenido-header">
                <nav class="redes-sociales">
                    <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
                </nav>
            </div>
            <div class="modal-dialog text-center">
                <div class="col-sm-8 main-section">
                    <div class="modal-content">
                        <div class="col-12 user-img">
                            <img src="~/imglogin/user.png" width="50" height="50" />
                        </div>
                        <form class="col-12" action="/user/startrecover" method="post">
                            <input type="hidden" name="Token" value="@Model.Token" />
                            <p class="text-white">@Html.ValidationMessage("Recovery")</p>
                            <div class="form-group" id="contrasena-group">
                                <input type="password" class="form-control" placeholder="Contraseña" name="Password" />
                                <p class="text-white">@Html.ValidationMessage("Password")</p>
                            </div>
                            <div class="form-group" id="contrasena-group">
                                <input type="password" class="form-control" placeholder="Confirmar Contraseña" name="ConfirmPassword" />
                                <p class="text-white">@Html.ValidationMessage("ConfirmPassword")</p>
                            </div>
                            <button type="submit" class="btn btn-primary"> Aceptar </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>